<h2 class="mat-title">{{'create-news.title' | content}}</h2>

<p>{{'create-news.description' | content}}</p>

<form [formGroup]="form" (submit)="onSubmit()" novalidate>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="{{'create-news.title.placeholder' | content}}" formControlName="title">
    </mat-form-field>
    <app-form-errors [targetFormControl]="f.title" [messages]="errors.title"
      (errorChanges)="updateErrors('title', $event)">
    </app-form-errors>
  </p>

  <p>
    <mat-form-field>
      <textarea matInput placeholder="{{'create-news.text.placeholder' | content}}" formControlName="text"></textarea>
    </mat-form-field>
    <app-form-errors [targetFormControl]="f.text" [messages]="errors.text"
      (errorChanges)="updateErrors('text', $event)">
    </app-form-errors>
  </p>

  <p>
    <mat-form-field>
      <input type="url" matInput placeholder="{{'create-news.image.placeholder' | content}}" formControlName="image">
    </mat-form-field>
    <app-form-errors [targetFormControl]="f.image" [messages]="errors.image"
      (errorChanges)="updateErrors('image', $event)">
    </app-form-errors>
  </p>

  <p>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="{{'create-news.publishedAt.placeholder' | content}}" formControlName="publishedAt">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="true"></ngx-mat-datetime-picker>
    </mat-form-field>
  </p>

  <div class="form-actions">
    <ng-container *ngIf="!loading; else spinner">
      <button type="button" mat-button (click)="this.dialogRef.close()">{{'create-news.button.cancel.text' | content}}</button>
      <button type="submit" mat-button>{{'create-news.button.create.text' | content}}</button>
    </ng-container>
    <ng-template #spinner>
      <mat-spinner diameter="30"></mat-spinner>
    </ng-template>
  </div>
</form>
