<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav [mode]="mobile ? 'over' : 'side'" [opened]="!mobile" role="navigation">
    <mat-nav-list>
      <div class="mat-drawer-header">
        <img class="mat-drawer__logo" src="assets/logo-kleur-loefbijter.svg">
      </div>
    </mat-nav-list>

    <mat-nav-list *ngIf="loggedIn">
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon color="primary">home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/news" routerLinkActive="active">
        <mat-icon color="primary">feedback</mat-icon>
        Nieuwsberichten
      </a>
      <a mat-list-item routerLink="/boats" routerLinkActive="active">
        <mat-icon color="primary">directions_boat</mat-icon>
        Boten
      </a>
      <a mat-list-item routerLink="/certificates" routerLinkActive="active">
        <mat-icon color="primary">class</mat-icon>
        Certificaten
      </a>
      <a mat-list-item routerLink="/reservations" routerLinkActive="active">
        <mat-icon color="primary">receipt</mat-icon>
        Reserveringen
      </a>
      <a mat-list-item routerLink="/users" routerLinkActive="active">
        <mat-icon color="primary">group</mat-icon>
        Gebruikers
      </a>

      <mat-divider></mat-divider>
      <div mat-subheader>Account</div>
      <a mat-list-item routerLink="/account" routerLinkActive="active">
        <mat-icon color="primary">person</mat-icon>
        Account
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon color="primary">open_in_browser</mat-icon>
        Uitloggen
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <mat-toolbar-row>
        <button *ngIf="loggedIn && mobile" type="button" aria-label="Toggle sidenav" mat-icon-button
          (click)="sidenav.toggle()" color="white">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span>De Loefbijter</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div style="margin: 20px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
