<div class="wrapper">
<h2>{{'reservations.title.all' | content}}</h2>
<button class="export" mat-mini-fab (click)="exporter.exportTable('csv', {'fileName': 'reserveringen'})"
        matTooltip="{{'reservations.download-button' | content}}">
  <mat-icon>download</mat-icon>
</button>
</div>

<table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" class="reservations-table" [hiddenColumns]="[6]">

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>{{'reservations.overview-table.accepted.text' | content}}</th>
    <td mat-cell *matCellDef="let element">
        {{element.accepted == null ? 'In afwachting': element.accepted ? 'Geaccepteerd' : 'Afgewezen'}}
    </td>
  </ng-container>
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>{{'reservations.overview-table.user.text' | content}}</th>
    <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
  </ng-container>
  <ng-container matColumnDef="skipper">
    <th mat-header-cell *matHeaderCellDef>{{'reservations.overview-table.skipper.text' | content}}</th>
    <td mat-cell *matCellDef="let element"> {{element.skipper}} </td>
  </ng-container>
  <ng-container matColumnDef="boat">
    <th mat-header-cell *matHeaderCellDef>{{'reservations.overview-table.boat.text' | content}}</th>
    <td mat-cell *matCellDef="let element"> {{element.boat.name}} </td>
  </ng-container>
  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef>{{'reservations.overview-table.reason.text' | content}}</th>
    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>{{'reservations.overview-table.date.text' | content}}</th>
    <td mat-cell *matCellDef="let element"> {{simpleDateService.advancedFormatSameDate(element.startTimestamp, element.endTimestamp)}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>{{'reservations.overview-table.actions.text' | content}}</th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="element.accepted == null" mat-raised-button color="primary"
        (click)="reviewReservation(element)">{{'reservations.button.review.text' | content}}</button>
      <button *ngIf="element.accepted != null" mat-icon-button color="warn" (click)="showDeleteBoatReservationDialog(element)">
        <mat-icon aria-hidden="false">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator [length]="totalItemsCount" [pageSizeOptions]="getPageSizeOptions()" [pageIndex]="0" [pageSize]="10"
  showFirstLastButtons (page)="onLoadMore()"></mat-paginator>
