table {
  width: 100%;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  flex: 1;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-edit {
  width: 0;
}

.mat-column-delete {
  width: 0;
}

button#new-certificate-button {
  position: fixed;
  right: 2rem;
  bottom: 1.5rem;
}
