:host {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

form,
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button mat-spinner {
  margin: auto;
}
