<h2>{{'activity.question-management.title' | content}}</h2>
<h3>{{activity.title}}: {{simpleDateService.advancedFormatDate(activity.startTime, activity.endTime)}}</h3>

<div cdkDropList [cdkDropListData]="questions" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let question of questions; let i = index" [attr.data-index]="i" class="question-row" cdkDrag>

    <mat-icon class="question-input-margin reorder-icon">reorder</mat-icon>

    <mat-form-field class="question-input-margin question-width">
      <mat-label class="normal-line-height">{{'activity.question-management.question.text' | content}}: {{i+1}}
      </mat-label>
      <input class="normal-line-height" matInput [(ngModel)]="question.text" maxlength="255"
        placeholder="{{'activity.question-management.question.text' | content}}">
      <mat-hint align="end">{{question.text != null ? question.text.length : "0"}} / 255</mat-hint>
    </mat-form-field>

    <mat-select [(ngModel)]="question.type" class="question-input-margin question-select-width">
      <mat-option [value]="questionTypes.OPEN">{{'activity.question-management.question-type-open.text' | content}}</mat-option>
      <mat-option [value]="questionTypes.SHORT">{{'activity.question-management.question-type-open-short.text' | content}}</mat-option>
      <mat-option [value]="questionTypes.NUMBER">{{'activity.question-management.question-type-number.text' | content}}</mat-option>
      <mat-option [value]="questionTypes.CHECKBOX">{{'activity.question-management.question-type-checkbox.text' | content}}</mat-option>
    </mat-select>

    <mat-checkbox [(ngModel)]="question.required" color="primary" class="question-input-margin">
      {{'activity.question-management.question-required.text' | content}}</mat-checkbox>

    <button mat-icon-button class="question-input-margin" (click)="remove(i)">
      <mat-icon mat-list-icon color="warn">delete</mat-icon>
    </button>
  </div>
</div>

<p class="mat-warn-text" *ngIf="hasEmptyQuestions()">
  {{'activity.question-management.error.no-empty-question.text' | content}}</p>

<div class="actions">
  <button mat-button color="warn" class="action-btn"
    (click)="cancel()">{{'activity.question-management.btn-cancel.text' | content}}</button>
  <button mat-button class="action-btn"
    (click)="addNewQuestion()">{{'activity.question-management.btn-new.text' | content}}</button>
  <button mat-button class="action-btn"
    (click)="save()">{{'activity.question-management.btn-save.text' | content}}</button>
</div>
