.center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

:host {
  display: block;
  position: relative;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
}
