<h2>{{'entries-dialog.title' | content}}</h2>

<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon>close</mat-icon>
</button>

<mat-accordion *ngIf="(registrations$ | async) as regs; else loading">
  <ng-container *ngIf="regs.length > 0; else noRegistrations">
    <mat-expansion-panel *ngFor="let reg of regs">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{reg.user.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-registration-questions-answers [registration]="reg"></app-registration-questions-answers>
      </ng-template>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>

<ng-template #loading>
  <div class="center">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
</ng-template>

<ng-template #noRegistrations>
  <div class="center">
    <p>{{'entries-dialog.no-registrations' | content}}</p>
  </div>
</ng-template>
