<h2 class="mat-title">{{'edit-certificate.title' | content}}</h2>

<form [formGroup]="editForm" (submit)="onSubmit()" novalidate>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="{{'edit-certificate.name.placeholder' | content}}" formControlName="name">
    </mat-form-field>
    <app-form-errors [targetFormControl]="editForm.controls.name" [messages]="errors.name"
      (errorChanges)="updateErrors('name', $event)">
    </app-form-errors>
  </p>
  <p>
    <mat-checkbox formControlName="showInSkippersList">{{'edit-certificate.name.showInSkippersList.label' | content}}</mat-checkbox>
    <app-form-errors [targetFormControl]="editForm.controls.showInSkippersList" [messages]="errors.showInSkippersList"
      (errorChanges)="updateErrors('showInSkippersList', $event)">
    </app-form-errors>
  </p>

  <p *ngIf="formError" class="mat-warn-text">{{formError}}</p>

  <div class="form-actions">
    <ng-container *ngIf="!loading; else spinner">
      <button type="button" mat-button (click)="this.dialogRef.close()">{{'edit-certificate.button.cancel.text' | content}}</button>
      <button type="submit" mat-button>{{'edit-certificate.button.save.text' | content}}</button>
    </ng-container>
    <ng-template #spinner>
      <mat-spinner diameter="30"></mat-spinner>
    </ng-template>
  </div>
</form>
